In [1]:
# Import Libraries
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

# Import Functions
import sys
sys.path.append('../src')
from preprocessing import DataInspection, HandleMissingValues, RemoveDuplicates, CorrectDataTypes, TranslateText, HandleOutliers, SplitDataset



data_inspection = DataInspection()
handle_missing_values = HandleMissingValues()
remove_duplicates = RemoveDuplicates()
correct_data_types = CorrectDataTypes()
translate_text = TranslateText()
handle_outliers = HandleOutliers()
split_dataset = SplitDataset()



data_inspection.set_next(handle_missing_values)
handle_missing_values.set_next(remove_duplicates)
remove_duplicates.set_next(correct_data_types)
correct_data_types.set_next(translate_text)
translate_text.set_next(handle_outliers)
handle_outliers.set_next(split_dataset)



raw_data = pd.read_csv('../data/raw_data.csv')
print(f'raw_data.shape: {raw_data.shape}')

# Ejecutar la pipeline
processed_data = data_inspection.process(raw_data)

raw_data.shape: (4000000, 3)

**View Data Structure**

HEAD

,labels,review_title,text
0,__label__2,Stuning even for the non-gamer,This sound track was beautiful! It paints the ...
1,__label__2,The best soundtrack ever to anything.,I'm reading a lot of reviews saying that this ...
2,__label__2,Amazing!,This soundtrack is my favorite music of all ti...
3,__label__2,Excellent Soundtrack,I truly like this soundtrack and I enjoy video...
4,__label__2,"Remember, Pull Your Jaw Off The Floor After He...","If you've played the game, you know how divine..."

SAMPLE

,labels,review_title,text
3702211,__label__1,Patricia Velasquez??????,Well this was apparently supposesd to be funny...
25863,__label__2,Works as described,Bought this in conjunction with the CycleOps t...
2444857,__label__1,Edith Piaf,"Eternelle: The singing was too brassy, too str..."
1189250,__label__2,Good not waste of money,Just buy it. It is very good for money and usa...
2459799,__label__1,Don't bother with this one,This is a poor offering from a once decent ban...

TAIL

,labels,review_title,text
3999995,__label__1,Unbelievable- In a Bad Way,We bought this Thomas for our son who is a hug...
3999996,__label__1,"Almost Great, Until it Broke...",My son recieved this as a birthday gift 2 mont...
3999997,__label__1,Disappointed !!!,"I bought this toy for my son who loves the ""Th..."
3999998,__label__2,Classic Jessica Mitford,This is a compilation of a wide range of Mitfo...
3999999,__label__1,"Comedy Scene, and Not Heard",This DVD will be a disappointment if you get i...

**Info Summary**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000000 entries, 0 to 3999999
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   labels        object
 1   review_title  object
 2   text          object
dtypes: object(3)
memory usage: 2.3 GB

**Summary Statistics**

,labels,review_title,text
count,4000000,3990462,4000000
unique,2,2883113,3993872
top,__label__2,Disappointed,"I bought a QPS back in April, I had configurat..."
freq,2000000,10688,17

**Handle Missing Values**

review_title    9538
labels             0
text               0
dtype: int64

Actual Missing Values

labels          0
review_title    0
text            0
dtype: int64

**Remove Duplicates**

There are no duplicated values.
ACTUAL SHAPE: (4000000, 3)

**Translate Text**

Translating Text: 100%|██████████| 4000000/4000000 [3:20:36<00:00, 332.32it/s]

**Handle Outliers**

Number of detected outliers: 608
SHAPE BEFORE: (4000000, 4)
ACTUAL SHAPE: (3999392, 4)

2024-07-08 21:59:19.595229: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-07-08 21:59:19.603169: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:479] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-07-08 21:59:19.614057: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:10575] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-07-08 21:59:19.614085: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1442] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-07-08 21:59:19.621320: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-07-08 21:59:20.242843: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

LABELS:
   __label__1  __label__2
0           0           1
1           0           1
2           0           1
3           0           1
4           0           1

X_train shape: (3199513, 50)
y_train shape: (3199513, 2, 2)

Data saved successfully to ../data directory in CSV format.